@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active-toggle-menu > div {
    @apply text-yellow-me;
  }

  .notification {
    transition: transform 0.3s;
  }
  .notify-container {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .notify-container.active .notification {
    transform: translateY(-100%);
  }

  .inner-tooltip-container {
    padding: 22px;
    background: #4bb133;
    min-width: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  .inner-tooltip-container.warning {
    background: #b18333;
  }

  .inner-tooltip-container.error {
    background: #b13333;
  }

  .tooltip__close {
    width: 20px;
    height: 20px;
    background: red;
    cursor: pointer;
    margin-left: 20px;
  }
}
